---
layout: default
features:
 - icon: fa-solid fa-cloud
   description: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis fuga aliquam sed aut quo tempore, accusamus vero asperiores quas, corporis voluptate labore. Voluptatum consectetur provident aliquam recusandae est? Deserunt, expedita!
 - icon: fa-solid fa-cloud
   description: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis fuga aliquam sed aut quo tempore, accusamus vero asperiores quas, corporis voluptate labore. Voluptatum consectetur provident aliquam recusandae est? Deserunt, expedita!
 - icon: fa-solid fa-cloud
   description: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis fuga aliquam sed aut quo tempore, accusamus vero asperiores quas, corporis voluptate labore. Voluptatum consectetur provident aliquam recusandae est? Deserunt, expedita!
 - icon: fa-solid fa-cloud
   description: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis fuga aliquam sed aut quo tempore, accusamus vero asperiores quas, corporis voluptate labore. Voluptatum consectetur provident aliquam recusandae est? Deserunt, expedita!
---

        <header class="tall-100 bg-img sheets padded-sm grid md-tall-80">
            {% include header-nav.html %}

            <div class="col-12 text-center">
                <h3 class="font-weight-extra-bold editable">
                    <span class="featured-txt">sleep</span> like a baby</h3>
                </h3>
                <h1 class="font-weight-light editable">
                    the ultimate mattress solution
                </h1>
            </div>
        </header>
        

        <!-------- Gallery -------->
        <section class="grid">
            <div class="col-6_xs-12-middle padded-md text-left">
                <h2 class="editable">built to last a <span class="featured-txt">lifetime</span></h2>
                <p class="editable">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo itaque ullam labore, incidunt dolores tenetur modi non. Voluptatum illo quisquam doloribus repudiandae quasi fugit laboriosam, adipisci sequi facilis enim. Distinctio.</p>
            </div>
            <div class="col-6 bed bg-img tall-60 hide-xxs">
                <!-- BG Image Bed -->
            </div>

            <div class="col-6_xs-12 puppy bg-img tall-60">
                <!-- BG image puppy -->
            </div>
            <div class="col-6_xs-12-middle padded-md text-left">
                <h2 class="editable">so <span class="featured-txt">soft</span> you'll melt</h2>
                <p class="editable">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo itaque ullam labore, incidunt dolores tenetur modi non. Voluptatum illo quisquam doloribus repudiandae quasi fugit laboriosam, adipisci sequi facilis enim. Distinctio.</p>
            </div>
        </section>


        <!-------- Features -------->
        <section class="grid padded-md bg-dark" id="features">
            <div class="col-12 text-center padded-1">
                <h2><span class="featured-txt editable">features</span> you will love</h2>
            </div>

            {% for item in page.features %}
            <div class="col-3_sm-6_xs-12 padded-1">
                <i class="{{item.icon}}"></i>
                <p class="text-left">{{item.description}}</p>
            </div>
            {% endfor %}
        </section>

        <!-------- Banner -------->
        <section class="padded-md text-center bg-img pillow tall-60 grid xs-tall-40" id="banner">
            <div class="col-12-middle large-text">
                <h3 class="editable"><span class="font-weight-normal small-text editable">never underestimate the power of </span>
                <br>a good night's <span class="white-txt">sleep</span></span></h3>
            </div>
        </section>


        <!------- Testimonials -------->
        <section class="padded-lg grid-spaceBetween" id="testimonial">
            <div class="col-1 text-right">
                <span class="quote-icon">“</span>
            </div>
            <div class="col-9 text-center">
                <p class="medium-text font-weight-light editable">I've never experienced sleep like this. Omg I really love this mattress I want to buy one for every member of my family.</p>
                <p class="subtitle editable">- A very happy customer</p>
            </div>
            <div class="col-1 text-left">
                <span class="quote-icon">”</span>
            </div>
        </section>

        