<div class="grid header-nav col-12">
    <div class="col-6_xs-7-top">
        <a href="/index.html" class="logo">
            <h2>The Sleep Co</h2>
        </a>
    </div>
    <nav class="col-6-top text-right hide-sm">
        <a href="/index.html">Home</a>
        <a href="/about.html">About</a>
        <a href="/products.html">Products</a>
        <a href="/contact.html">Contact</a>
    </nav>

    <div class="col-1-top show-sm text-right">
        <div class="hamburger-button">
            <a>&#9776;</a>
        </div>
    </div>
</div>

<nav class="mobile-menu bg-dark padded-sm">
    <a href="/index.html">Home</a>
    <a href="/about.html">About</a>
    <a href="/products.html">Products</a>
    <a href="/contact.html">Contact</a>
</nav>