<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <title>The Sleep Co.</title>

        <!-- Gridlex stylesheet -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">

        <!-- Google fonts - Catamaran (200,300,500,800) -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@200;400;500;800&display=swap" rel="stylesheet">

        <!-- Fontawesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-- Main Stylesheet -->
        <link rel="stylesheet" href="style.css">
    </head>

    <body>

        {{ content }}




        <!-- Footer -->
        <footer class="bg-dark tall-70 text-center grid-center">
            <div class="col-8_xs-10-middle padded-md">
                <h4>The Sleep Co</h4>
                <p class="padded-1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut maiores iusto dolores repudiandae eum, blanditiis dolore officia error tempore, illum aliquam harum adipisci quam in quaerat eveniet ipsa, tempora quidem!</p>
    
                <div class="">
                    <a href="#" class="social-icons"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="social-icons"><i class="fa-brands fa-pinterest-p"></i></a>
                    <a href="#" class="social-icons"><i class="fa-brands fa-instagram"></i></a>
                </div>
            </div>

            <div class="copyright col-12">Copyright 2021</div>
            
        </footer>


        <!-- Add jQuery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </body>
</html>